body {
    background-color: #d5d5d5;
    color: #333;
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.container {
    background-color: #d5d5d5;
    width: 1050px;
    text-align: justify;
    margin: 0px auto;
}

.header {
    background-color: #d5d5d5;
    width: 1048px;
    text-align: right;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: -15px;
}

.dashboard {
    width: 1049px;
    background-color: #EAEAEA;
    border-width: 2px;
    border-style: solid;
    border-color: #CCC;
}

.dashboard_header {
    background-color: #c5c5c5;
    width: 1025px;
    height: 125px;
    text-align: right;
    margin: 10px;
    border: 2px solid #d5d5d5;
    padding-top: 25px;
}

.index_logo {
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    margin-right: -30px;
}

.index_main_panel {
    width: 1025px;
    margin: 10px;
    padding: 3px;
    font-size: 11pt;
    position: relative;
}

.title_articles_img {
    width: 190px;
    height: 190px;
}

.input_title_articles {
    width: 190px;
    height: 190px;
    border: 1px solid #369;
    margin: 10px;
    background-color: white;
}

.output_title_articles {
    width: 214px;
    height: 250px;
    border: 1px solid #369;
    margin: 20px;
    float: left;
    background-color: #EAEAEA;
}

.title_img_text {
    text-align: center;
}

#footer {
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
}

.grey_footer {
    color: #369;
}

.red_footer {
    background-color: red;
    color: black;
}

.btm {
    clear: both;
}

a {
    color: #369;
}

li {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #d5d5d5;
}

.items_panel {
    padding: 3px;
    position: relative;
}

.printer_item {
    width: 300px;
    height: 350px;
    float: left;
    margin-left: 29px;
    margin-bottom: 30px;
    position: relative;
    background-color: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.index_picture {
    width: 290px;
    height: 150px;
    margin-right: 3px;
    float: left;
    margin: 5px;
    text-align: center;
}

.title_good_img {
    width: 190px;
    height: 150px;
}

.inf {
    width: 290px;
    float: right;
    margin: 5px;
}

.parameters {
    font-size: 9pt;
}

.netbook_cost {
    font-size: 14pt;
    color: green;
}

.line {
    margin-bottom: 18px;
}

.input_line {
    height: 30px;
}

.error {
    color: #b94a48;
}

.user_email {
    color: #369;
    font-size: 14px;
}

.locale_img {
    width: 32px;
    height: 24px;
}

.locales_panel {
    text-align: right;
    margin-right: 10px;
    margin-bottom: -8px;
    margin-top: 3px;
}

font.gray {
    color: #999;
    font-size: 12px;
}

font.blue {
    color: #369;
    font-size: 12px;
}

.parameters_panel {
    width: 210px;
    border: 1px solid #369;
    border-radius: 5px;
    padding: 10px;
    font-size: 10pt;
    float: left;
    margin-bottom: 15px;
}

.top_line {
    margin-bottom: 10px;
    font-size: 13pt;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13pt;
}

.big_line {
    height: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13pt;
}

.large_line {
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13pt;
}

.main_date_panel {
    position: relative;
}

.date_panel {
    margin-right: 5px;
    float: left;
    width: 250px;
    font-size: 11pt;
}

.date_panel_value {
    margin-top: 0px;
    margin-right: 10px;
    float: left;
    font-size: 12pt;
}

.date_panel_value_textarea {
    margin-top: 0px;
    margin-right: 10px;
    float: left;
    font-size: 12pt;
}

.btn-top{
    margin-top: -10px;
}

.min_input {
    width: 65px;
}

.middle_input {
    width: 80px;
}

.big_input {
    width: 120px;
}

.large_input {
    width: 250px;
}

.search_text_panel {
    font-size: 11pt;
}

textarea {
    width: 500px;
    resize: none;
}

.main_panel {
    width: 779px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 11pt;
    float: right;
}

.switch_panel {
    padding: 3px;
    margin-top: 10px;
    position: relative;
}

.items_panel {
    padding: 3px;
    position: relative;
}

.item {
    height: 195px;
    padding: 5px;
    margin-bottom: 3px;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.item_picture_frame {
    width: 160px;
    height: 150px;
    margin-right: 3px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.item_picture_frame_line {
    width: 100%;
    height: 150px;
    margin-right: 3px;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

.item_picture {
    width: 160px;
    height: 150px;
    margin-right: 3px;
    float: left;
}

.item_info {
    width: 530px;
    float: right;
}

.parameter {
    font-size: 11pt;
}

.item_name {
    font-size: 14pt;
    color: #369;
}

.item_price {
    font-size: 14pt;
    color: green;
}

.item_title {
    font-weight: bold;
}

.basket_panel {
    height: 30px;
    width: 630px;
    margin-right: 10px;
    margin-left: 395px;
    margin-top: -8px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-radius: 5px;
}

.basket {
    height: 30px;
    float: right;
    text-align: right;
}

.basket_panel_text {
    padding-top: 4px;
    margin-right: 10px;
    float: left;
}

.image_template_button {
    cursor: pointer;
}

.plus_minus_block {
    width: 32px;
    float: left;
}

.plus {
    margin-bottom: 3px;
}

.basket_field_value {
    padding-top: 10px;
    float: left;
    margin-right: 5px;
}

.basket_field_number_value {
    padding-top: 10px;
    width: 65px;
    float: left;
    margin-right: 5px;
}

.currency_value {
    float: left;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.primary-table {
    color: #ffffff;
    background-color: #134D88;
    border-color: #134D88;
}

.referenceRow {
    cursor: pointer;
}

.table-boarder{
    border: 1px outset #ffffff;
}

.input-name{
    width: 206px;
}